*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid-cont{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    
    
}

body{    
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    font-family:sans-serif;
    font-size: 60px;
    font-weight: bold;
}
.iconBox1:hover,.iconBox2:hover{
    box-shadow: 0px 0px 10px 8px rgb(60, 143, 237);
    ;
}
.grid>img{
    height: 60px;
    width: 60px;
}
.grid:nth-child(3n){
    border-left: none;
    border-right: none;
}
.grid:nth-child(3n-2){
    border-left: none;
    border-right: none;
}

.grid:nth-child(n-1){
    border-top: none;
}
.grid:nth-child(7){
    border-bottom: none;
}
.grid:nth-child(8){
    border-bottom: none;
}
.grid:nth-child(9){
    border-bottom: none;
}
.menu-container{
    gap: 30px;
    color: white;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.rBtn{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: wheat;
    border: none;
}
.rMenu{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
   visibility: visible;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
}
.playUi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    position: absolute;
   font-size: 20px;
   gap: 20px;
   font-family: 'Courier New', Courier, monospace;
   background-color: rgb(228, 136, 60);
   padding: 30px;
   border-radius: 20px;
   
}
.title{
    
    font-size: 50px;
  
    
    
    
}
.opBtn{
    width: 80px;
    background-color:rgb(16, 119, 140) ;
}
.opBtn{
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}
.p1Box,.p2Box{
    display: flex;
    gap: 80px;

}
.iconBox1,.iconBox2{
    black;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}
.icons,.icon2{
    background-color: rgb(16, 109, 160);
    
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.iconS,.iconS2{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    
}
.hide{
    display: none;
}
.iconS:hover,.iconS2:hover{
    background-color: aliceblue;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
.p2N,.p1N{
   padding: 5px;
   border-radius: 8px;
   font-family:'Courier New', Courier, monospace;
   font-size: 14px;
   border: none;
   background-color: rgb(206, 210, 244);
}
.p2N:focus,.p1N:focus{
    outline: 2px solid green;
}
.addpointer{
    pointer-events: none;
}
